<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Unavailable for Legal reasons</title>
    </head>
    <body>
        <div style="text-align:center">
        <h1>Unavailable For Legal Reasons</h1>
        </br>
        <p>{{ censorship_reason }}</p>
        </br>
        <b> Resource title:</b> {{ censorship_title }}
        </br>
        <h3> This resource has been blocked as requested by: <b> {{ url_of_authority }} </b> </h3>
        </div>
    </body>
</html>
